#usersListContainer
{
   float: left;
   clear: left;
   border: 1px solid black;
   width: 20%;
   height: 60%;
   overflow: auto;
}

#usersListContainer ul
{
   list-style-type: none;
}

#usersListContainer ul li
{
   margin: 10px 0px 5px 0px;
   list-style-type: none;
}

#usersListContainer ul li.selectedList
{
   list-style-type: disc;
}

#usersListContainer ul li a
{
   outline: none;
}

#usersListContainer ul li a:link
{
   text-decoration: none;
   color: blue;
}

#usersListContainer ul li a:hover
{
   text-decoration: underline;
   color: blue;
}

#usersListContainer ul li a:visited
{
   color: blue;
}


#allGiftListsContainer
{
   float: left;
   border: 4px solid black;
   border-top-width: 1px; 
   border-left-width: 0px;
   border-right-width: 1px;
   border-bottom-width: 1px;
   width: 75%;
   height: 60%;
   overflow: auto;
}


.giftListContainer
{
   display: none;
}

