#cogForm
{
   border: 0px solid red;
}

#cogContainer
{
   display: none;
}

#cogTable
{
   margin: 0px auto;
   border: 0px solid #3F372D;
   border-top-width: 1px;
   border-left-width: 1px;
}

#cogTable tr td
{
   border: 0px solid #3F372D;
   border-right-width: 1px;
   border-bottom-width: 1px;
   padding: 8px;
   background-color: white;
   text-align: center;
   white-space: nowrap;
}

#cogTable tr td.dateHeader
{
   font-weight: bold;
   color: #3F372D;
   background-color: #EBCD9D;
}

#cogTable tr td.nameCell
{
   font-weight: bold;
   text-align: left;
   color: #3F372D;
   background-color: #EBCD9D;
}

#cogTable tr td.empty
{
   border-right-width: 1px;
   background-color: #EBCD9D;
   
}

#cogTable tr td.canMakeIt
{
   background-color: #5C4122;
}

#cogTable tr td.cannotMakeIt
{
   background-color: #FFF;
}

div#noteInputContainer
{
   padding: 20px 0px;
   text-align: center;
}

div#submitContainer
{
   text-align: center;
}

#notesLabel
{
   display: block;
   font-weight: bold;
}

div#nextPrevCont
{
   width: 500px;
   height: 50px;
   margin: 10px auto;
   border: 0px solid blue;
}

div#prevDiv
{
   float: left;
   width: 200px;
   margin-left: 150px;
}

div#nextDiv
{
   float: right;
   width: 200px;
   text-align: right;
}



div.noteContainer
{
   margin: 10px 5px 10px 5px;
   padding: 10px;
   border: 1px solid #5C4122;
   background-color: #EBCD9D;
}

div.noteContainer span.noteSpeaker
{
   font-weight: bold;
}

div.noteContainer span.noteDate
{
   font-style: italic;
}

div.noteContainer div.noteDiv
{
   text-align: justify;
   padding: 0px 10px;
}

#eventOptionsContainer span
{
   display: block;
   margin: 3px 10px;
}
