html
{
   background-image: url(../../images/gears/home_background_stripe.gif);
   background-repeat: repeat-x;
   background-color: #3F372D;
}

body
{
   font-family: verdana, helvetica, sans-serif;
   font-size: 13px;
   padding: 0px;
   margin: 0px;
   background-image: url(../../images/gears/gear_background.jpg);
   background-repeat: no-repeat;
   background-position: center 66px;
   background-color: transparent;
}

#pageTitle
{
   padding: 0px;
   margin: 0px;
   text-align: center;
   font-size: 0px;
   font-weight: bold;
   padding-top: 275px;
   height: 0px;
   border: 0px solid red;
}

#homePageContents
{
   border: 0px solid red;
   width: 900px;
   padding: 20px 0px 0px 0px;
   margin: 0px auto;
   background-color: transparent;
}

#homePageContents:after
{
   content: ".";
   display: block;
   clear: both;
   font-size: 0px;
   padding: 0px;
   
}

#navContainer:after
{
   content: url(../../images/gears/gravitycar_logo.gif);
   position: absolute;
   top: 0px;
   left: 0px;
   z-index: 2;
   width: 224px;
   height: 95px;
}

.articleText
{
   padding: 0px;
   margin: 0px 15px;
   padding-top: 26px;
   background-repeat: no-repeat;
   float: left;
   width: 200px;
   text-align: left;
   border: 0px solid blue;
}

#welcome
{
   padding-top: 26px;
   margin-left: auto;
   background-image: url(../../images/gears/who_am_I.gif);
   cursor: pointer;
}

#resume
{
   background-image: url(../../images/gears/resume.gif);
   cursor: pointer;
}

#blog
{
   background-image: url(../../images/gears/cheap_thoughts.gif);
   cursor: pointer;
}

#exhortation
{
   padding-top: 70px;
   margin: 0px 0px 0px 15px;
   background-image: url(../../images/gears/exhortation.gif);
}
