#cogForm
{
   border: 0px solid red;
}

#cogContainer
{
   display: none;
}

#cogTable
{
   border: 0px solid #DA9113;
   border-top-width: 1px;
   border-left-width: 1px;
   margin: 0px auto;
}

#cogTable tr td
{
   border: 0px solid #DA9113;
   border-right-width: 1px;
   border-bottom-width: 1px;
   padding: 8px;
   text-align: center;
   white-space: nowrap;
   background-color: #4D4D4D;
}

#cogTable tr td.dateHeader
{
   font-weight: bold;
   background-color: #8A7D61;
}

#cogTable tr td.nameCell
{
   font-weight: bold;
   text-align: left;
   background-color: #8A7D61;
}

#cogTable tr td.empty
{
   border-right-width: 1px;
   
}

#cogTable tr td.canMakeIt
{
   background-color: #DA9113;
}

#cogTable tr td.cannotMakeIt
{
   background-color: #202020;
}

div#noteInputContainer
{
   padding: 20px 0px;
   text-align: center;
}

div#submitContainer
{
   text-align: center;
}

#notesLabel
{
   display: block;
   font-weight: bold;
}

div#nextPrevCont
{
   width: 500px;
   height: 50px;
   margin: 10px auto;
   border: 0px solid blue;
}

div#prevDiv
{
   float: left;
   width: 200px;
   margin-left: 150px;
}

div#nextDiv
{
   float: right;
   width: 200px;
   text-align: right;
}

div.noteContainer span.noteSpeaker
{
   font-weight: bold;
}

div.noteContainer span.noteDate
{
   font-style: italic;
}

div.noteContainer div.noteDiv
{
   text-align: justify;
   padding: 0px 10px;
}

#eventOptionsContainer span
{
   display: block;
   margin: 3px 10px;
}
