#pageTitle
{
   padding: 0px;
   margin: 0px;
   height: 0px;
}

#homePageContents
{
   border: 0px solid red;
   padding: 20px 0px 0px 0px;
	margin: 0px auto;
   width: 900px;
   position: relative;
   left: -26px;
   background-color: #202020;
}

#homePageContents:after
{
   content: ".";
   display: block;
   clear: both;
   font-size: 0px;
   padding: 0px;
   visibility: hidden;
}


.articleText
{
   margin: 0px 15px 30px 15px;
   padding: 28px 0px 20px 5px;
   background-repeat: no-repeat;
   float: none;
   width: 375px;
   text-align: left;
   border: 0px solid #8A7D61;
   border-bottom-width: 2px;
}

#welcome
{
   padding-top: 26px;
   background-image: url(../../images/tap/who_am_I.gif);
   cursor: pointer;
   position: relative;
   z-index: 1;
}

#resume
{
   background-image: url(../../images/tap/resume.gif);
   cursor: pointer;
   position: relative;
   z-index: 1;
}

#blog
{
   background-image: url(../../images/tap/blog.gif);
   cursor: pointer;
   position: relative;
   z-index: 1;
}

#exhortation
{
   position: absolute;
   top: 30px;
   left: 470px;
   padding: 50px 35px 140px 35px;
   margin: 0px;
   margin-right: 20px;
   background-image: url(../../images/tap/exhortation.jpg);
   background-position: center 0px;
   float: right;
   color: black;
   font-weight: bold;
   width: 340px;
   border-width: 0px
}
