#cogForm
{
   border: 0px solid red;
}

#cogTable
{
   border: 0px solid #DA9113;
   border-top-width: 1px;
   border-left-width: 1px;
   margin: 0px auto;
}

#cogTable tr td
{
   border: 0px solid #DA9113;
   border-right-width: 1px;
   border-bottom-width: 1px;
   padding: 8px;
   text-align: center;
   white-space: nowrap;
   background-color: #4D4D4D;
}

#cogTable tr td.dateHeader
{
   font-weight: bold;
   background-color: #8A7D61;
}

#cogTable tr td.nameCell
{
   font-weight: bold;
   text-align: left;
   background-color: #8A7D61;
}

#cogTable tr td.empty
{
   border-right-width: 1px;
   
}

#cogTable tr td.canMakeIt
{
   background-color: #DA9113;
}


#cogTable tr td#notesCell
{
   text-align: left;
}

div.noteContainer
{
   margin: 10px 5px 10px 5px;
   padding: 10px;
   border: 1px solid #999;
   background-color: #202020;
}

div.noteContainer span.noteSpeaker
{
   font-weight: bold;
}

div.noteContainer span.noteDate
{
   font-style: italic;
}

div.noteContainer div.noteDiv
{
   text-align: justify;
   padding: 0px 10px;
}

#eventOptionsContainer span
{
   display: block;
   margin: 3px 10px;
}
