#cogForm
{
   border: 0px solid red;
}

#cogContainer
{
   display: none;
}

#cogTable
{
   border: 0px solid black;
   border-top-width: 1px;
   border-left-width: 1px;
   margin: 0px auto;
}

#cogTable tr td
{
   border: 0px solid black;
   border-right-width: 1px;
   border-bottom-width: 1px;
   padding: 8px;
   background-color: white;
   text-align: center;
   white-space: nowrap;
}

#cogTable tr td.dateHeader
{
   background-color: #068709;
   color: #FFD619;
   font-weight: bold;
}

#cogTable tr td.nameCell
{
   background-color: #068709;
   color: #FFD619;
   font-weight: bold;
   text-align: left;
}

#cogTable tr td.empty
{
   border-right-width: 1px;
   background-color: #068709;
   color: #FFD619;
}

#cogTable tr td.canMakeIt
{
   background-color: #1AB51E;
}

#cogTable tr td.cannotMakeIt
{
   background-color: #FFF;
}

div#noteInputContainer
{
   padding: 20px 0px;
   text-align: center;
}

div#submitContainer
{
   text-align: center;
}

#notesLabel
{
   display: block;
   font-weight: bold;
}

div#nextPrevCont
{
   width: 500px;
   height: 50px;
   margin: 10px auto;
   border: 1px solid blue;
}

div#prevDiv
{
   float: left;
   width: 200px;
   margin-left: 150px;
}

div#nextDiv
{
   float: right;
   width: 200px;
   text-align: right;
}

div.noteContainer
{
   margin: 10px 5px 10px 5px;
   padding: 10px;
   border: 1px solid #999;
   background-color: #DBDFFF;
}

div.noteContainer span.noteSpeaker
{
   font-weight: bold;
}

div.noteContainer span.noteDate
{
   font-style: italic;
}

div.noteContainer div.noteDiv
{
   text-align: justify;
   padding: 0px 10px;
}

#eventOptionsContainer span
{
   display: block;
   margin: 3px 10px;
}
