#homePageContents
{
   width: 956px;
   margin: 0px auto;
}

.articleText
{
   width: 275px;
   float: right;
   margin: 0px 20px 0px 0px;
   padding: 0px;
   padding-top: 54px;
   border: 0px solid green;
   background-repeat: no-repeat;
   background-position: 0px 0px;
   cursor: pointer;
}

#welcome
{
   background-image: url(../../images/tokyo/who_am_I.gif);
   text-indent: 80px;
}

#welcome p
{
   text-indent: 0px;
}


#resume
{
   width: 295px;
   background-image: url(../../images/tokyo/resume.gif);
   text-indent: 65px;
   float: left;
   margin: 0px 0px 0px 20px;
}

#blog
{
   background-image: url(../../images/tokyo/blog.gif);
   text-indent: 60px;
   margin: 0px 40px 0px 0px;
}

#blog p
{
   text-indent: 0px;
}

#exhortation
{
   padding: 0px;
   padding-left: 250px;
   width: 120px;
   height: 102px;
   text-indent: 0px;
   border: 0px solid red;
   cursor: default;
   float: none;
   clear: both;
   margin: 0px auto;
   margin-top: 20px;
   background-image: url(../../images/tokyo/exhortation.png);
   background-repeat: no-repeat;
}
