.mqtQuestionContainer
{
   border: 1px solid black;
   padding: 0px;
   margin: 0px 0px;
   width: 99%;
   display: none;
}


.mqtQuote
{
   padding: 5px;
}


.mqtSpeaker
{
   text-align: center;
   font-style: italic;
}

.mqtAnswersContainer
{
   border: 1px groove black;
   border-width: 1px 0px 0px;
   margin: 15px 0px 0px 0px;
   height: 44px;
   background-color: #EEE;
   overflow: hidden;
   padding: 6px 0px 0px 0px;
}

.mqtRadioButtonContainer
{
   border: 0px solid blue;
   margin: 0px 4px;
   float: left;
   height: 75px;
}


.mqtAnswerContainer
{
   width: 30%;
   border: 0px solid green;
   margin: 0px 5px;
   float: left;
   vertical-align: top;
}

.mqtMovieNameContainer
{
   border: 0px solid red;
}

#mqtForm
{
   height: 270px;
   width: 70%;
   overflow: auto;
   margin-left: auto;
   margin-right: auto;
   border: 0px solid blue;
}

#mqtScore
{
   border: 4px solid black;
   font-size: 50px;
   float: right;
   margin: 0px 20px 0px 50px;
}
