#skinBackground
{
   height: 103px;
   padding: 20px 0px;
   background-color: #DBDFFF;
   margin: 20px auto 10px auto;
   clear: both;
   overflow: hidden;
}

#skinsContainer
{
   padding: 0px;
   margin: 0px;
   background-color: transparent;
   height: 103px;
   background-repeat: repeat-x;
   background-position: left 20px;
   width: 100%;
}

.skinDiv
{
   float: left;
   margin: 0px 20px;
   padding: 0px;
   height: 103px;
}

.skinLink
{
   font-size: 0px;
   height: 0px;
   display: block;
}


#skinCount
{
   color: #068709;
   width: 90px;
   font-size: 88px;
   font-weight: 900;
   border: 0px solid #A4957E;
   background-image: url(../../images/tokyo/latest.gif);
   background-repeat: no-repeat;
   background-position: right 5px;
}
